:root {
    --smooth: all .3s ease-in;
    --primary-color: rgb(63, 208, 212);
}

/* PC */
@media (min-width: 1024px) {
    .header-mobile {
        display: none;
    }
    .footer-mobile {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width:1023px){
    .header-mobile {
        display: none;
    }
    .footer-mobile {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    /* mobile header */
    .nav {
        display: none;
    }

    #notification {
        margin-top: 64px;
    }

    .header-mobile {
        position: absolute;
        width: 100%;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    /* menu */
    .navbar-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        background-color: #fff;
        z-index: 5;
        transition: var(--smooth);
        transform: translateX(-100%);
        opacity: 0;

    }

    .navbar-links.navbar-open {
        transform: translateX(0);
        opacity: 1;
        transition: var(--smooth);
    }

    .navbar-link {
        list-style: none;
        margin: 55px;
    }

    .navbar-link a {
        text-decoration: none;
        color: #000;
        font-weight: 300;
        transition: var(--smooth);
    }

    .navbar-link a:hover {
        color: var(--primary-color);
        transition: var(--smooth);
    }

    /* icon button */
    .navbar-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: var(--smooth);
        z-index: 6;
    }

    .navbar-icon {
        width: 45px;
        height: 6px;
        background-color: #000;
        border-radius: 5px;
        transition: var(--smooth);
        position: relative;
    }

    .navbar-icon::before,
    .navbar-icon::after {
        content: "";
        position: absolute;;
        width: 45px;
        height: 6px;
        background-color: #000;
        border-radius: 5px;
        transition: var(--smooth);
    }

    .navbar-icon::before {
        transform: translateY(-12px);
    }

    .navbar-icon::after {
        transform: translateY(12px);
    }

    footer {
        display: none;
    }

    .footer-mobile {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 32px;
        background-color: #ccc;
    }

    .footer-mobile .noi-dung-footer {
        text-align: center;
        padding: 32px 0;
    }

    .social-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copyright {
        opacity: 0.6;
        margin-top: 16px;
    }

    

    

    
}